<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="parallaX" Publisher="CN=tux" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="52808d0d-aa86-4a46-a3c4-1cfc484531f6" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>parallaX</DisplayName>
    <PublisherDisplayName>parallaX Dev Team</PublisherDisplayName>
    <Logo>Assets\App\StoreLogo.jpg</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="parallaX.App">
      <uap:VisualElements DisplayName="parallaX" Square150x150Logo="Assets\App\Square150x150Logo.jpg" Square44x44Logo="Assets\Square44x44Logo.png" Description="XBOX ONE SOFTWARE MANAGEMENT SUiTE by skfu, mono and tux" BackgroundColor="transparent">
        <uap:LockScreen Notification="badgeAndTileText" BadgeLogo="Assets\App\BadgeLogo.jpg" />
        <uap:DefaultTile Wide310x150Logo="Assets\App\Wide310x150Logo.jpg" ShortName="parallaX" Square310x310Logo="Assets\App\Square310x310Logo.jpg">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\App\SplashScreen.jpg" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="allJoyn" />
    <Capability Name="codeGeneration" />
    <Capability Name="internetClientServer" />
    <uap:Capability Name="enterpriseAuthentication" />
    <uap:Capability Name="sharedUserCertificates" />
    <uap:Capability Name="appointments" />
    <uap:Capability Name="blockedChatMessages" />
    <uap:Capability Name="chat" />
    <uap:Capability Name="contacts" />
    <uap:Capability Name="musicLibrary" />
    <uap:Capability Name="objects3D" />
    <uap:Capability Name="phoneCall" />
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="removableStorage" />
    <uap:Capability Name="userAccountInformation" />
    <uap:Capability Name="videosLibrary" />
    <uap:Capability Name="voipCall" />
    <DeviceCapability Name="bluetooth" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="microphone" />
    <DeviceCapability Name="proximity" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>